<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">


</head>
<body>

    <footer class="page-footer" th:fragment="Footer" style="Background-color:#ffd359; " align="middle" >

        <div class="container" >
            <div class="row">

                <div class="col-md-12 py-3">
                   <h3>Contact Me</h3>
                    <div class="mb-5 flex-center py-3" >

                        <!-- Facebook -->
                        <a class="fb-ic" href="https://www.facebook.com/fahimul1">
                            <img src="https://image.flaticon.com/icons/svg/1384/1384005.svg" style="max-height:32px; padding-right:40px">
                        </a>
                        <!-- Instagram -->
                        <a class="tw-ic" href="https://www.instagram.com/fahim_wait4it/">
                            <img src="https://image.flaticon.com/icons/svg/1384/1384015.svg" style="max-height:32px ; padding-right:40px">
                        </a>
                        <!-- Linkedin+-->
                        <a class="gplus-ic" href="https://www.linkedin.com/in/muhammad-fahimul-huq-494755181/">
                            <img src="https://image.flaticon.com/icons/svg/1384/1384014.svg" style="max-height:32px ; padding-right:40px">
                        </a>
                        <!--Google plus -->
                        <a class="li-ic" href="https://myaccount.google.com/profile?pli=1">
                            <img src="https://image.flaticon.com/icons/svg/2111/2111477.svg" style="max-height:32px ; padding-right:40px">
                        </a>
                        <!--Github -->
                        <a class="li-ic" href="https://github.com/fahim1996112016">
                            <img src="https://image.flaticon.com/icons/svg/2111/2111425.svg" style="max-height:32px">
                        </a>
                    </div>
                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row-->

        </div>
        <!-- Footer Elements -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
       <h3>@FahimPortfolio.com</h3>
        </div>
        <!-- Copyright -->

    </footer>



</body>
</html>