<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="icon" href="https://image.flaticon.com/icons/svg/2920/2920291.svg">
    <link rel="stylesheet" th:href="@{/css/home.css}"/>
    <title> Venture--home</title>

</head>
<body>


<div th:replace="fragments/MainNavBarHeader :: MainNavBarHeader ">...</div>





<div class="row" id="carouselrow" style="padding-top:100px">
    <div class="col">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://images.unsplash.com/photo-1563915791443-a5e11d3ff785?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" class="carousel-image d-block"  alt="..." >
                </div>
                <div class="carousel-item">
                    <img src="https://images.unsplash.com/photo-1555774698-0b77e0d5fac6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" class="carousel-image d-block  "  alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://images.unsplash.com/photo-1572766156884-828770df8d7e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80" class="carousel-image d-block  "  alt="...">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
<div class="container" >
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb" >
            <li class="breadcrumb-item active" aria-current="page" th:each="category:${productCategories}" style="padding-left:52px"><a href="#" class="badge badge-secondary" >[[${category.CategoriesName}]]</a></li>
        </ol>
    </nav>

</div>


<div class="row" id="postrow" >
    <div class="col " th:each="product: ${products}" id="postcol"  align="middle">
        <div class="card" id="postcard"  >
            <a th:href="@{'/postview/'+${product.id}}">
                <img class="card-img-top" style="height: 25rem;width: 20rem"  th:src="@{'data:image/jpeg;base64,'+${product.generateBase64Image()}}" alt="Card image cap"> </a>

            <div class="card-body" >
                <p class="card-title" th:text="${product.productName}"></p>

                <p class="card-text" th:text="'BDT: '+${product.price}" > </p>


            </div>
            <a th:href="@{'/cart/AddCart/'+${product.id}}" class="addToCart" ><img src="https://image.flaticon.com/icons/svg/753/753317.svg" class="addToCartIcon" > Add to card</a>
        </div>

    </div>
</div>

        <div th:replace="fragments/Footer :: Footer ">...</div>

</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</html>